<!DOCTYPE html>
<html>
<head>
    <title>Vue.js Async Request Example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>Vue.js Async Request Example</h1>

    <div>
        <label for="input">Input:</label>
        <br>
        <textarea id="input" v-model="inputData" rows="10" cols="50"></textarea>
    </div>

    <div>
        <br>
        <button @click="getData" :disabled="buttonDisabled">{{ buttonText }}</button>
    </div>

    <div v-if="loading">
        <p>Loading...</p>
    </div>

    <div v-if="data">
        <h2>Output:</h2>
        <pre>{{ data }}</pre>
        <div id="output2">
            <h2>Content:</h2>
            <!--  <pre>{{ content }}</pre>-->
            <p v-if="typing">{{ typingText }}</p>
        </div>
    </div>
</div>

<script>
    // 创建一个Vue实例
    var app = new Vue({
        el: '#app',
        data: {
            inputData: '',
            data: null,
            loading: false,
            buttonDisabled: false,
            buttonText: 'Get Data',
            content: null,
            typing: false,
            typingText: ''
        },
        methods: {
            getData: function() {
                // 禁用按钮并显示loading
                this.loading = true;
                this.buttonDisabled = true;
                this.buttonText = 'Loading...';

                // 向后端发送GET请求，并将输入框中的值作为查询参数发送
                var url = '/chat?prompt=' + encodeURIComponent(this.inputData);
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // 将服务器返回的数据保存到Vue实例的data属性中
                        this.data = data;
                        // 解析content内容并保存到Vue实例的content属性中
                        this.content = data.choices[0].message.content;
                        // 开始逐个输出content内容
                        this.typeContent();
                    })
                    .catch(error => {
                        console.error(error);
                    })
                    .finally(() => {
                        // 隐藏loading并启用按钮
                        this.loading = false;
                        this.buttonDisabled = false;
                        this.buttonText = 'Get Data';
                    });
            },
            typeContent: function() {
                this.typing = true;
                var i = 0;
                var intervalId = setInterval(() => {
                    this.typingText += this.content[i];
                    i++;
                    if (i >= this.content.length) {
                        clearInterval(intervalId);
                        this.typing = false;
                        this.typingText += '<br><br>';
                    }
                }, 100);
            }
        }
    });
</script>
</body>
</html>